body{
    font-family: Arial,sans-serif;    
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
    
}
.logo{
    color: #ffffff;
    font-size: 25px;
    line-height: 60px;
    float: left;
   -webkit-animation:comming 2s; 
    -o-animation: comming 2s;
    animation: comming 2s;
    
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #ffffff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation:tops 0.4s ease forwards; 
    -o-animation: tops 0.4s ease forwards;
    animation: tops 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100% ;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bd.png) center/cover no-repeat;
    
    
}
.titel__container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    /*opacity: 0;
     -webkit-animation:titlemove 1s ease forwards; 
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;*/
    
}
.titel__container h1{
    font-size: 60px;
    font-weight:bold;
}

.titel__container h4{
    margin-top: 40px;
    font-size: 30px;
    color: #79818d
}
.titel__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 10px;
    color: #6d7682;
    font-size: 13px;
    margin-top: 30px;
    margin-right: 40px;
    padding: 0px 16px;
}
.menu li a{
    transition: all 0.1s;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
    
}
.menu li a:hover{
    color: #d17700;
   
    
}
.menu li a:active{
     transform: scale(1.1);
}
.titel__container input{
     transition: all 0.2s;
    transform: scale(1);
}
.titel__container input:hover{
    background:  #344051;
    color: white;
}
.titel__container input:active{
    transform: scale(1.1);
    
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
@keyframes tops{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
@media (max-width:991px){
    .titel__container, .titel__container h4, .titel__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .titel__container input{
        border: 2px solid #fff;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}

.white-btn:visited{
    color: white;
}
.i{
    width: 100%;
    height: 70%;
    text-align: center;
}
.i h2{
    font-size: 30px;
    padding: 30px 0px 5px 0px;
    font-weight: bold;
    
}
.i img{
    padding: 10px;
    
}
.p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}
.hi input{
    display: block;
    height: 40px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 10px;
    font-size: 13px;
    padding: 0px 16px;
    text-align: center;
    margin-bottom: 30px;
}
.hi input{
     transition: all 0.2s;
    transform: scale(1);
}
.hi input:hover{
    background:  #344051;
    color: white;
}
.hi input:active{
    transform: scale(1.1);
    
}
.what{
   width: 100%;
height: 60%;
    text-align: center;
    background:  url(../img/fon%20two.png) center/cover no-repeat;
    
     
}
.what h2{
    font-size: 30px;
    padding-top: 30px;
    font-weight: bold;
    

}
.nav {
	display: inline-block; 
	margin-top: 150px;
    padding-bottom: 50px;
    width: 150px;
    
        }
 
 .string {
     text-align: center; 
     color: darkorange;
        }
.ceys{
    width: 100%;
    height: 1060px;
    text-align: center;

}
.ceys h2{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.cherta{
    padding: 10px;
    text-align: center;
}
 .gl p{
    font-weight: bold;
    font-size: 40px;  
}
.ceys p{
    font-size: 15px;
    text-align: left; 
}
.class{
    float:left;
}
.hz{
    text-align: left;
}

.ceys input{
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    background-color:#63b5ae;
    color: white;
    float:left;
}
.ceys input{
     transition: all 0.2s;
    transform: scale(1);
}
.ceys input:hover{
    background:  #344051;
    color: white;
}
.ceys input:active{
    transform: scale(1.1);
}
.prise{
    width: 980px;
    height: 760px;
    text-align: center;
    border: 2px solid black;
        
}
.box{
    width: 980px;
    height: 700px;
    border: 0px solid black;
    box-shadow: 0px 0px 13px 0px #000000;
    margin-bottom: 30px;
    padding-left: 
}

.price h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 15px;
     text-align: center;
}
.price h3{
    font-size: 25px;
    margin: 20px; 
    text-transform: uppercase;
    font-weight: bold;
}
.price select{
    font-size: 35px;
    padding-right: 890px;
    background-color: #efefef;
    display: block;
    margin:20px;
    

}

.price p{
    font-size: 20px;
    text-align: start;
    margin: 40px;
    font-weight: bold;
    padding-left: 60px;
    
}
.cnopka1 input{
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    background-color:#63b5ae;
    color: white;
    text-align: center;
    display: block;
}
.cnopka1 input{
     transition: all 0.2s;
    transform: scale(1);
}
.cnopka1 input:active{
    transform: scale(1.1);
    
}
.price p::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #6d7682;
    
}
.price p::before{
     display: block;
    width: 805px;
    height: 2px;
    transform: scaleX(0);
    background-color: #6d7682;
    transition: all 0.3s;
}
.price p:hover::before{
   transform: scaleX(1);
}
.stats{
   width: 100%;
    height: 60%;
    text-align: center;
    background:  url(../img/fon%20two.png) center/cover no-repeat;
    
     
}
.stats h2{
    font-size: 30px;
    padding-top: 25px;
    font-weight: bold;
    

}

.nov {
	display: inline-block; 
	margin-top: 150px;
    padding-bottom:50px;
    width: 150px;
        }
 
 .streng {
     color: #323e4f;
     font-size: 40px;
     text-align: center; 
     margin: 20px;
     font-weight: bold;
        }
.tet{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.otziv{
    width: 100%;
    height: 60%;
    text-align: center;
    
}
.otziv h2{
    font-size: 40px;
    font-weight: 200px;
    padding-top:50px;
}
.otziv img{
    padding: 10px;
}
.pp{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.contakt{
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../img/fonthree.png) no-repeat;
}
.contakt h2{
    font-size: 30px;
     font-weight: bold;
    padding-top: 50px;
    color: white;
}
.contakt p{
    color: white;
}
.nobe{
    display: inline-block; 
	margin-top: 70px;
    margin-top: 30px;
    width: 200px;
}
.strong{
     color: white;
     font-size: 15px;
     text-align: center; 
     margin: 30px;
}
.contakt h3{
    font-size: 23px;
    padding: 20px;
    color: white;
}
.cont input{
    height: 45px;
    width: 375px;
    border: 2px solid White;
    background: none;
    color: white;
    font-size: 13px;
    margin-top: 30px;
    display: inline-block; 
    float: left;
    margin-right: 30px;
    margin-left: 19px;
}
textarea{
    height: 100px;
    width: 800px;
    border: 2px solid white;
    background: none;
    color: #6d7682;
    font-size: 13px;
    margin-top: 30px;
}
.cnopka input{
    height: 40px;
    text-align: center;
    border: 2px solid white;
    background: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    margin-top: 30px;
    padding: 0px 25px;
}
.cnopka input{
     transition: all 0.2s;
    transform: scale(1);
}
.cnopka input:hover{
    background:  white;
    color: black;
}
.cnopka input:active{
    transform: scale(1.1);
    
}
