body{
    font-family: Arial,sans-serif;    
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    
}
.logo{
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    
}
.menu{
    float: left;
    padding-left: 432px;
    
    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 18px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bd.png) center/cover no-repeat;
    
    
}
.titel__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}
.titel__container h1{
    font-size: 60px;
    font-weight:bold;
}

.titel__container h4{
    margin-top: 40px;
    font-size: 30px;
    color: #79818d
}
.titel__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 10px;
    color: #6d7682;
    font-size: 13px;
    margin-top: 30px;
    margin-right: 40px;
    padding: 0px 16px;
}
.i{
    width: 100%;
    height: 70%;
    text-align: center;
}
.i h2{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    
}
.i img{
    padding: 20px;
    
}
.i p{
    font-size: 20px;
    font-weight: 400;
    margin: 30px;
}
.i a{
    height: 40px;
    border: 2px solid #6d7682;
    border-radius: 10px;
    font-size: 13px;
    padding: 0px 16px;
}
.what{
   width: 100%;
    height: 70%;
    text-align: center;
    background:  url(../img/fon%20two.png) center/cover no-repeat;
    
     
}
.what h2{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    

}
.nav {
	display: inline-block; 
	margin-top: 150px;
    padding: 50px;
    width: 300px;
        }
 
 .string {
     text-align: center; 
     margin: 30px;
     color: darkorange;
        }
.ceys{
    width: 100%;
    height: 1060px;
    text-align: center;
     border: 2px solid #6d7682;

}
.ceys h2{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    text-align: center;
}
.cherta{
    padding: 30px;
    text-align: center;
}
.ceys p{
    font-size: 15px;
    padding: 15px;
    text-align: center;
    
}
.class{
    float: left;
   display: inline-block; 
    margin-bottom:150px;   
   
}
.ceys a{
    border: 2px solid #6d7682;
    background: none;
    border-radius: 10px;
}


.prise{
    width: 100%;
    height: 70%;
    text-align: center;
}

.price h2{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
     text-align: center;
}
.price h3{
    font-size: 25px;
    padding-left: 502px;
    margin: 30px; 
    text-transform: uppercase;
}
.price from{
    font-size: 30px;
    border: 2px solid #6d7682;
     text-align: center;
    margin-left: 500px;
    padding-left: 502px;

}
.price p{
    font-size: 20px;
    text-align: start;
    padding-left: 502px;
    margin: 40px;
    
}
.mp {
    border-top: 3px solid #6d7682;
}
.stats{
   width: 100%;
    height: 70%;
    text-align: center;
    background:  url(../img/fon%20two.png) center/cover no-repeat;
    
     
}
.stats h2{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    

}
.nov {
	display: inline-block; 
	margin-top: 150px;
    padding: 50px;
    width: 300px;
        }
 
 .streng {
     color: #323e4f;
     font-size: 40px;
     text-align: center; 
     margin: 30px;
        }
.otziv{
    width: 100%;
    height: 60%;
    text-align: center;
    
}
.otziv h2{
    font-size: 40px;
    font-weight: 200px;
    margin: 30px;
}
.otziv p{
    font-size: 20px;
    margin: 15px;
    color: #525a68;
}
.contakt{
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../img/fonthree.png) center no-repeat;     
}
.contakt h2{
    font-size: 30px;
     font-weight: bold;
    padding-top: 90px;
}
.nobe{
    display: inline-block; 
	margin-top: 70px;
    margin-top: 30px;
    width: 200px;
}
.contakt h3{
    font-size: 23px;
    padding: 25px;
}
.contakt input{
    height: 45px;
    width: 20%;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    color: #6d7682;
    font-size: 13px;
    margin-top: 30px;
    margin-right: 100px;
    
}
textarea{
     height: 200px;
    width: 600px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    color: #6d7682;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 594;
}