body{
    font-family: Arial,sans-serif;    
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Добавить анимацию к "Содержимое страницы" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    
}
.logo{
    color: #ffffff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
   -webkit-animation:comming 2s; 
    -o-animation: comming 2s;
    animation: comming 2s;
    
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
    padding-left: 432px;
    
    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-animation:tops 0.4s ease forwards; 
    -o-animation: tops 0.4s ease forwards;
    animation: tops 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100% ;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bd.png) center/cover no-repeat;
    
    
}
.titel__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
     -webkit-animation:titlemove 1s ease forwards; 
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    
}
.titel__container h1{
    font-size: 60px;
    font-weight:bold;
}

.titel__container h4{
    margin-top: 40px;
    font-size: 30px;
    color: #79818d
}
.titel__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 10px;
    color: #6d7682;
    font-size: 13px;
    margin-top: 30px;
    margin-right: 40px;
    padding: 0px 16px;
}
.menu li a{
    transition: all 0.1s;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
    
}
.menu li a:hover{
    color: #d17700;
   
    
}
.menu li a:active{
     transform: scale(1.1);
}
.titel__container input{
     transition: all 0.2s;
    transform: scale(1);
}
.titel__container input:hover{
    background:  #344051;
    color: white;
}
.titel__container input:active{
    transform: scale(1.1);
    
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
@keyframes tops{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 404px;
    }
}
.i{
    width: 100%;
    height: 70%;
    text-align: center;
}
.i h2{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    
}
.i img{
    padding: 20px;
    
}
.i p{
    font-size: 20px;
    font-weight: 400;
    margin: 30px;
}
.i input{
    height: 40px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 10px;
    font-size: 13px;
    padding: 0px 16px;
}
.i input{
     transition: all 0.2s;
    transform: scale(1);
}
.i input:hover{
    background:  #344051;
    color: white;
}
.i input:active{
    transform: scale(1.1);
    
}

.what{
   width: 100%;
    height: 70%;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background:  url(../img/fon%20two.png) center/cover no-repeat;
    
     
}
.what h2{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    

}
.nav {
	display: inline-block; 
	margin-top: 150px;
    padding: 50px;
    width: 300px;
        }
 
 .string {
     text-align: center; 
     margin: 30px;
     color: darkorange;
        }
.what:nth-child(1){
    background:  url(../img/fon%20two.png);
}
.what:nth-child(2){
    background:  url(../img/fonthree.png);
}
.ceys{
    width: 100%;
    height: 1060px;
    text-align: center;

}
.ceys h2{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    text-align: center;
}
.cherta{
    padding: 30px;
    text-align: center;
}
.ceys p{
    font-size: 15px;
    padding: 10px;
    
    
}
.class{
    float:left;
    padding-left: 330px;
    text-align: left;
    padding-right: 30px;
    
}
.ceys input{
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    background-color:#63b5ae;
    color: white;
}
.ceys input{
     transition: all 0.2s;
    transform: scale(1);
}
.ceys input:hover{
    background:  #344051;
    color: white;
}
.ceys input:active{
    transform: scale(1.1);
}

.hz{
    text-align: left;

}
.gl{
    font-weight: bold;
    font-size: 30px;
}


.prise{
    width: 100%;
    height: 80%;
    text-align: center;
        
}

.price h2{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
     text-align: center;
}
.price h3{
    font-size: 25px;
    padding-left: 565px;
    margin: 30px; 
    text-transform: uppercase;
    font-weight: bold;
}
.price select{
    font-size: 30px;
    border: 2px solid #6d7682;
    margin-left: 600px;
    padding-right: 800px;
    

}

.price p{
    font-size: 20px;
    text-align: start;
    padding-left: 565px;
    margin: 40px;
    font-weight: bold;
    
}
.price p::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #6d7682;
    
}
.price p::before{
     display: block;
    width: 805px;
    height: 2px;
    transform: scaleX(0);
    background-color: #6d7682;
    transition: all 0.3s;
}
.price p:hover::before{
   transform: scaleX(1);
}


.stats{
   width: 100%;
    height: 70%;
    text-align: center;
    background:  url(../img/fon%20two.png) center/cover no-repeat;
    
     
}
.stats h2{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    

}
.nov {
	display: inline-block; 
	margin-top: 150px;
    padding: 50px;
    width: 300px;
        }
 
 .streng {
     color: #323e4f;
     font-size: 40px;
     text-align: center; 
     margin: 30px;
        }
.otziv{
    width: 100%;
    height: 60%;
    text-align: center;
    
}
.otziv h2{
    font-size: 40px;
    font-weight: 200px;
   
    padding-top:150px;
}
.otziv p{
    font-size: 20px;
    color: #525a68;
    padding: 10px;
}

.contakt{
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../img/fonthree.png) no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.contakt h2{
    font-size: 30px;
     font-weight: bold;
    padding-top: 150px;
    color: white;
}
.contakt p{
    color: white;
}
.nobe{
    display: inline-block; 
	margin-top: 70px;
    margin-top: 30px;
    width: 200px;
}
.strong{
     color: white;
     font-size: 15px;
     text-align: center; 
     margin: 30px;
}
.contakt h3{
    font-size: 23px;
    padding: 25px;
    color: white;
}
.cont input{
    height: 45px;
    width: 20%;
    border: 2px solid White;
    background: none;
    color: white;
    font-size: 13px;
    margin-top: 30px;
    margin-right: 50px;
    
}
textarea{
    height: 100px;
    width: 800px;
    border: 2px solid white;
    background: none;
    color: #6d7682;
    font-size: 13px;
    margin-top: 30px;
}
.cnopka input{
    height: 40px;
    text-align: center;
    border: 2px solid white;
    background: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    margin-top: 30px;
    padding: 0px 25px;
}
.cnopka input{
     transition: all 0.2s;
    transform: scale(1);
}
.cnopka input:hover{
    background:  white;
    color: black;
}
.cnopka input:active{
    transform: scale(1.1);
    
}